# Add your token here and rename this file to .env

YOUTRACK_TOKEN="perm:xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
YOUTRACK_URL="https://ferryhoppers.myjetbrains.com"
YOUTRACK_PROJECT_ID="XXX" # E.g. "Data requests"
ID_PAD_LENGTH=10 # Pads issue numbers for folder names, ensuring order. Increase if >999 issues in your project. (must be integer)
EXTENSION="md" # "txt"  or md, Use "html" for the spaces that use rich text formatting